.bg {
    padding: 95px 0 144px 275px;
    width: 100%;
    background-color: #245852;
    ;
}

.header {
    font-weight: 900;
    font-size: 40px;
    line-height: 55px;
    color: #FFFFFF;
    font-family: 'Avenir';
}

.list {
font-weight: 600;
font-size: 25px;
line-height: 30px;
color: #FFFFFF;
    ul {
        list-style: none;
        padding: 0;
    }
    li {
    margin-top: 60px;
    
    }
}