.bg {
    padding: 95px 0 144px 275px;
    width: 100%;
    background-color: #245852;
    ;
}

.header {
    font-weight: 900;
    font-size: 40px;
    line-height: 55px;
    color: #FFFFFF;
    font-family: 'Avenir';
}

.list {
font-weight: 600;
font-size: 25px;
line-height: 30px;
color: #FFFFFF;
    ul {
        list-style: none;
        padding: 0;
    }
    li {
    margin-top: 60px;
    
    }
}

@media (min-width: 360px) and (max-width: 766px) {
    .bg {
        padding: 30px 5px;
        width: 100vw;
    }
    
    
}

@media (min-width: 767px) and (max-width: 1023px) {
    .bg {
        padding: 30px 15px;
    }
    
}
@media (min-width: 1024px) and (max-width: 1279px) {
    .bg {
        padding: 30px 25px;
    }
    
}
@media (min-width: 1280px) and (max-width: 1535px) {
    .bg {
        padding: 30px 75px;
    }
}
@media (min-width: 1536px) and (max-width: 1919px) {
    .bg {
        padding: 30px 175px;
    }
}
