* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2 {
  max-width: 585px;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 157%;
  color: #01996D;
}

.greenBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #01996D;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
    cursor: pointer;
    border-radius: 4px;
}
.greenBtn a {
        margin: 0 auto;
  }

.article_text {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #424242;
}

@media (min-width: 360px) and (max-width: 413px) {
  h2 {
    font-size: 25px;
  }
  .article_text {
    font-size: 16px;
  }
}
@media (min-width: 414px) and (max-width: 766px) {
  h2 {
    font-size: 40px;
  }
  .article_text {
    font-size: 16px;
  }
}
@media (min-width: 767px) and (max-width: 1023px) {
  h2 {
    font-size: 25px;
  }
  .article_text {
    font-size: 16px;
  }
}
@media (min-width: 1024px) and (max-width: 1279px) {
  h2 {
    font-size: 40px;
  }
  .article_text {
    font-size: 16px;
  }
}
@media (min-width: 1280px) and (max-width: 1535px) {
  h2 {
    font-size: 35px;
  }
  .article_text {
    font-size: 16px;
  }
}
@media (min-width: 1536px) and (max-width: 1919px) {
  h2 {
    font-size: 40px;
  }
  .article_text {
    font-size: 16px;
  }
}