* {
  margin: 0;
  box-sizing: border-box;
  /* font-family: 'Avenir', sans-serif;
  font-family: 'Georgia', sans-serif; */
  font-family: 'Lato', sans-serif;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2 {
  max-width: 585px;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 157%;
  color: #01996D;
}

.greenBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #01996D;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
    cursor: pointer;
    border-radius: 4px;
}
.greenBtn a {
        margin: 0 auto;
  }

.article_text {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #424242;
}